@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  
  body {
    @apply bg-dark-50 text-dark-800;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-dark-100;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-dark-300 rounded-lg hover:bg-dark-400;
  }
}

